! Base16 Darktooth
! Scheme: Jason Milkins (https://github.com/jasonm23)
!

Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

rofi.font: Dina 10
rofi.terminal: urxvt
rofi.color-enabled: true
rofi.color-window: #1d2021, #1d2021, #665c54
rofi.color-normal: #1d2021, #a89984, #1d2021, #8ba59b, #1d2021
rofi.color-active: #1d2021, #8f4673, #1d2021, #8ba59b, #1d2021
rofi.color-urgent: #1d2021, #dd4a37, #1d2021, #8ba59b, #1d2021

URxvt.scrollBar: false
URxvt.internalBorder: 20

URxvt.urgentOnBell: true
URxvt.termName: screen-256color
/* URxvt.font: xft:peep:size=12, xft:Unifont:size=12 */
URxvt.font: xft:Dina:size=10,style:normal, xft:Unifont:size=10

URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*perl-ext: default,matcher,searchable-scrollback
URxvt*url-launcher: firefox
URxvt*matcher.button: 1

#define base00 #1D2021
#define base01 #32302F
#define base02 #504945
#define base03 #665C54
#define base04 #928374
#define base05 #A89984
#define base06 #D5C4A1
#define base07 #FDF4C1
#define base08 #FB543F
#define base09 #FE8625
#define base0A #FAC03B
#define base0B #95C085
#define base0C #8BA59B
#define base0D #0D6678
#define base0E #8F4673
#define base0F #A87322

*.foreground:   base05
*.background:   base00
*.cursorColor:  base05

*.color0:       base00
*.color1:       base08
*.color2:       base0B
*.color3:       base0A
*.color4:       base0D
*.color5:       base0E
*.color6:       base0C
*.color7:       base05

*.color8:       base03
*.color9:       base08
*.color10:      base0B
*.color11:      base0A
*.color12:      base0D
*.color13:      base0E
*.color14:      base0C
*.color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*.color16:      base09
*.color17:      base0F
*.color18:      base01
*.color19:      base02
*.color20:      base04
*.color21:      base06
